@charset "utf-8";
/* CSS Document */

 .row [class*='col-'] {
      background-color: #ffeeee;
      background-clip: content-box;
      min-height: 20px;
}
.row{
	background:black;
	/*padding: 0 15px;
	margin: 0 -15px;*/
	}